# Hello (नमस्ते) #

<p align="center">
  <img src="./content/images/namaste.jpg" />
</p>

{{#with personal_details}}
<table>
  <tr>
    <td>
      <p align="center">
        My Name Is {{name}} and I am from {{from.city}}, {{from.state}}, {{from.country}} currently living in {{current.city}}, {{current.state}}, {{current.country}}. I am a third-year undergraduate at the <a href="http://iiitg.ac.in/">Indian Institute of Information Technology Guwahati (IIITG)</a>. I love solving problems and developing things. Do checkout my Github Repositories to know more about what I do.
      </p>
    </td>
    <td>
      <img width="850" height="250" src="./content/images/my_pic.jpg" />
    </td>
  </tr>
</table>

## What I am upto these days? ##
<p align="center">
Learning about Operating Systems, Kernels and DBMS (Mostly Internals).
</p>

<p align="center">
  <img src="https://github-readme-stats.vercel.app/api/top-langs/?username={{username}}&layout=compact&theme=midnight-purple"></img>
  <img src="https://github-readme-stats.vercel.app/api?username={{username}}&show_icons=true&theme=cobalt"></img>
</p>

{{/with}}

{{#with skills}}
### My Skills ###
<p align="center">
  {{#each proficient}}
    <img alt="{{this.name}}" src="https://img.shields.io/badge/-{{this.name}}-{{#if (isColorGiven this.color)}}{{this.color}}{{else}}000000{{/if}}?style=for-the-badge&logo={{this.logo}}&logoColor=white" />
  {{/each}}
  {{#each elementary}}
    <img alt="{{this.name}}" src="https://img.shields.io/badge/-{{this.name}}-{{#if (isColorGiven this.color)}}{{this.color}}{{else}}000000{{/if}}?style=for-the-badge&logo={{this.logo}}&logoColor=white" />
  {{/each}}
  {{#each misc}}
    <img alt="{{this.name}}" src="https://img.shields.io/badge/-{{this.name}}-{{#if (isColorGiven this.color)}}{{this.color}}{{else}}000000{{/if}}?style=for-the-badge&logo={{this.logo}}&logoColor=white" />
  {{/each}}  
</p>
{{/with}}

{{#with personal_details}}
### Where to find me ###
<p align="center">
  {{#each social_links}}
    <a href="{{this.url}}">
      <img alt="{{this.name}} Link" src="https://img.shields.io/badge/-{{this.name}}-{{#if (isColorGiven this.color)}}{{this.color}}{{else}}000000{{/if}}?style=for-the-badge&logo={{this.name}}&logoColor=white" />
    </a>
  {{/each}}
</p>
{{/with}}

## A Glance of {{personal_details.current.city}} ##
<p align="center">
  {{#each current_city_images}}
  <img width="250" height="250" alt="City Image" src="{{this}}" /> 
  {{/each}}
</p>

------------

{{#with repo_details}}
<p align="center">
  This <i>README</i> file is generated <b>every 6 hours</b>
  </br>
  Last refresh: {{refresh_date}}
  <br />
</p>

<p align="center">
  <img alt="Stars" src="https://shields.io/badge/Stars-{{stars}}-0A66C2?style=for-the-badge"/> 
  <img alt="Forks" src="https://shields.io/badge/Forks-{{forks}}-0A66C2?style=for-the-badge"/>
</p>
{{/with}}

### How this works? ###
This README is generated every 6 hours by my Node.js program built using [Puppeteer.js](https://github.com/puppeteer/puppeteer) and [Handlebars.js](https://handlebarsjs.com/) and run every 6 hours by Github Actions.